<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Serenote | Login & Register</title>
  <!-- Icon Library -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="../static/css/logsign.css">
</head>
<body>
  <a href="/" class="back-home-btn"><i class='bx bx-home-alt'></i> Back to Home</a>
  <div class="wrapper">
    <div class="form-box login active">
      <h2>Login</h2>
      <form id="loginForm">
        <div class="form-message"></div>
        <div class="input-box">
          <i class='bx bxs-user'></i>
          <input type="text" id="loginUser" required>
          <label>Username</label>
        </div>
        <div class="input-box">
          <i class='bx bxs-lock-alt' ></i>
          <input type="password" id="loginPass" required>
          <label>Password</label>
          <i class='bx bxs-hide' id="toggleLoginPass"></i>
        </div>
        <button type="submit" class="btn">Login</button>
        <div class="link">
          <p>Don’t have an account? <a href="#" id="signupLink">Register</a></p>
        </div>
      </form>
    </div>

    <div class="form-box register">
      <h2>Register</h2>
      <form id="registerForm">
        <div class="form-message"></div>
        <div class="input-box">
          <i class='bx bxs-user'></i>
          <input type="text" id="regUser" required>
          <label>Username</label>
        </div>
        <div class="input-box">
          <i class='bx bxs-lock-alt' ></i>
          <input type="password" id="regPass" required>
          <label>Password</label>
          <i class='bx bxs-hide' id="toggleRegPass"></i>
        </div>
        <div class="input-box">
          <i class='bx bxs-lock-alt' ></i>
          <input type="password" id="regPass2" required>
          <label>Repeat Password</label>
          <i class='bx bxs-hide' id="toggleRegPass2"></i>
        </div>
        <button type="submit" class="btn">Register</button>
        <div class="link">
          <p>Already have an account? <a href="#" id="loginLink">Login</a></p>
        </div>
      </form>
    </div>
  </div>

  <script src="../static/js/logsi.js"></script>
</body>
</html>